<ion-view view-title="Bonne réponse">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        Temps, distance et écran, tels sont les trois éléments capable de nous protéger de la radioactivité.
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Plus d'infos dans le référentiel : RTN, pages 93-98
      </div>
    </div>

    <h3>Notez cette question</h3>

    <div class="button-bar">
      <a ui-sref="home" class="button"><i class="ion-heart"></i></a>
      <a ui-sref="home" class="button"><i class="ion-heart-broken"></i></a>
    </div>

  </ion-content>
</ion-view>