<ion-view view-title="Entrainement">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Question du jour
      </div>
      <div class="item item-text-wrap">
        Quels sont les moyens de limiter le risque radioactif ?
      </div>
      <div class="item item-divider">
        <a ui-sref="question" class="button button-small button-calm right">
          J'ai la réponse !
        </a>
      </div>
    </div>

    <h3>Questions par thème</h3>

    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-inc-150x150.jpg">
        <h2>INC</h2>
        <p>Incendie</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-sap-150x150.jpg">
        <h2>SAP</h2>
        <p>Secours à personne</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-div-150x150.jpg">
        <h2>DIV</h2>
        <p>Opérations diverses</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-trs-150x150.jpg">
        <h2>TRS</h2>
        <p>Transmissions</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-rtn-150x150.jpg">
        <h2>RTN</h2>
        <p>Risques Technologiques et Naturels</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-top-150x150.jpg">
        <h2>TOP</h2>
        <p>Techniques opérationnelles</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-goc-150x150.jpg">
        <h2>GOC</h2>
        <p>Gestion opérationnelle et commandement</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/theme-hlq-150x150.jpg">
        <h2>HLQ</h2>
        <p>Hydraulique</p>
      </a>

    </div>

  </ion-content>
</ion-view>