<ion-view view-title="Accueil">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Question du jour</div>
      <div class="item item-body">
        <div>
          Que signifie la MGO ?
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Questions par thème</div>
      <div class="item item-body">
        <div>
          <a ui-sref="questions">Consulter la liste des questions</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>