<ion-view hide-nav-bar="true" view-title="Bienvenue !">
  <ion-content class="introduction-content">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="introduction-slider">

      <ion-slide>
        <div class="box daily-question-1">
          <a ui-sref="home"><i class="ion-close-circled"></i></a>
          <h1>Dur d'ouvrir les référenciels hein ?</h1>
          <h3>L'application te pose chaque jour une question, en fonction de tes points faibles, afin de t'aider à t'améliorer.</h3>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box practice">
          <a ui-sref="home"><i class="ion-close-circled"></i></a>
          <h1 class="light">Rien ne remplace le terrain</h1>
          <h3>L'application te propose des scénarios de manoeuvre originaux et illustrés, seul, en équipe, avec ou sans matos.</h3>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box daily-question-2">
          <a ui-sref="home"><i class="light ion-close-circled"></i></a>
          <h1 class="light">13" par jour pour sauver une vie</h1>
          <h3>Quelques secondes suffisent pour répondre à la question journalière : la prochaine inter, tu seras au taquet !</h3>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box social">
          <a ui-sref="home"><i class="light ion-close-circled"></i></a>
          <h1 class="light">T'es un sarce ? Prouve-le !</h1>
          <h3>Créer des scénarios de manoeuvre tirées de ton expérience, et partage-les !<br>Les piou-piou te remercieront.</h3>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>