<ion-content>
  <div class="list left-side-menu">

    <a class="item item-icon-left" ui-sref="home" menu-close>
      <i class="icon ion-home"></i>
      Accueil
    </a>

    <a class="item item-icon-left" ui-sref="profile" menu-close>
      <i class="icon ion-person"></i>
      Mon profil
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-stats-bars"></i>
      Mes stats
    </a>

    <div class="item item-divider">
      Entrainement
    </div>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-flag"></i>
      Question du jour
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-medkit"></i>
      Questions par thème
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-calendar"></i>
      Cas concrets
    </a>

    <div class="item item-divider">
      Autre
    </div>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-chatbubble-working"></i>
      Remarques/Suggestions
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-bug"></i>
      Remonter un bug
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-iphone"></i>
      A propos de cette app
    </a>

  </div>

</ion-content>