<ion-view view-title="Question du jour">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        Quels sont les moyens de limiter le risque radioactif ?
      </div>
    </div>

    <ul class="list">

      <li class="item item-checkbox">
         <label class="checkbox"><input type="checkbox"></label>
         Temps
      </li>
      <li class="item item-checkbox">
         <label class="checkbox"><input type="checkbox"></label>
         Ecran
      </li>
      <li class="item item-checkbox">
         <label class="checkbox"><input type="checkbox"></label>
         Température
      </li>
      <li class="item item-checkbox">
         <label class="checkbox"><input type="checkbox"></label>
         Eau
      </li>
      <li class="item item-checkbox">
         <label class="checkbox"><input type="checkbox"></label>
         Distance
      </li>

    </ul>

    <button class="button button-full button-positive">
      Valider
    </button>

  </ion-content>
</ion-view>