@font-face {
  font-family: "captureit";
  src: url("#{$ionicons-font-path}/Capture it.ttf") format("opentype");
}

@font-face {
  font-family: "coalition";
  src: url("#{$ionicons-font-path}/Coalition_v2.ttf") format("opentype");
}